---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TrustBar from "../components/TrustBar.astro";
import Solucion from "../components/Solucion.astro";
import Stats from "../components/Stats.astro";
import Franquicia from "../components/Franquicia.astro";
import Tecnologia from "../components/Tecnologia.astro";
import Beneficios from "../components/Beneficios.astro";
import Productos from "../components/Productos.astro";
import Proceso from "../components/Proceso.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import WhatsAppFab from "../components/WhatsAppFab.astro";
---
<BaseLayout>
  <Nav />
  <WhatsAppFab />
  <main>
    <Hero />
    <TrustBar />
    <Solucion />
    <Stats />
    <Franquicia />
    <Tecnologia />
    <Beneficios />
    <Productos />
    <Proceso />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
